body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}
h1,h2 {
    text-align: center;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form div {
    margin: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.save-btn { background-color: #031c86; }
.update-btn { background-color: #e78a24; }
.delete-btn { background-color: #dc3545; }
.reset-btn { background-color: #565657; }

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #1c4809;
    color: white;
}